html {
  background-color: #f5f5f5;
}

body {
  background-color: #f5f5f5;
  width: 1300px;
  margin-top: 65px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;

  .navbar-inverse {
    background-color: #85bb23 !important;
    border-color: #7aac20 !important;
  }

  .navbar-header {
    color: #FFFCCC;
    width: inherit;

    .logo {
      display: block;
      margin: 0;
      padding: 0;
      float: left;
      margin-top: 10px;
    }

    img {
      max-width: 100%;
      width: auto;
    }
  }

  #left-panel {
    width: 45%;
    float: left;
  }

  #right-panel {
    margin-left: 20px;
    float: left;
    width: 50%;

    #warnings, #formatted-json {
      margin-top: 74px;
    }

    #formatted-json {
      overflow: scroll;
      height: 400px;
      background-color: #ededed;
    }
  }

  #output-json-url {
    background-color: #ededed;
  }

  #input-json {
    height: 400px;
    resize: none;
  }

  #input-json-url, #input-json-headers {
  }

  .button {
    margin-top: 15px;
  }
}