body {
  width: 1300px;
  margin-top: 65px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;

  .navbar-header {
    color: #FFFCCC;
    width: inherit;
  }

  #left-panel {
    width: 45%;
    float: left;
  }

  #right-panel {
    margin-left: 20px;
    float: left;
    width: 50%;

    #warnings, #formatted-json {
      margin-top: 20px;
    }

    #formatted-json {
      overflow: scroll;
      height: 400px;
    }
  }

  #input-json {
    width: 500px;
    height: 400px;
    resize: none;
  }

  #input-json-url, #input-json-headers {
    width: 500px;
  }

  .button {
    margin-top: 15px;
  }
}