html {
  background-color: #f5f5f5;
}
body {
  background-color: #f5f5f5;
  width: 1300px;
  margin-top: 65px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
body ul.nav-links {
  margin-top: 15px;
  margin-right: 80px;
}
body ul.nav-links li {
  cursor: pointer;
}
body ul.nav-links li a {
  color: white;
}
body hr {
  border-top: 1px solid #d2d0d0;
}
body .navbar-inverse {
  background-color: #85bb23 !important;
  border-color: #7aac20 !important;
}
body .navbar-header {
  color: #FFFCCC;
  width: inherit;
}
body .navbar-header .logo {
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  margin-top: 10px;
}
body .navbar-header img {
  max-width: 100%;
  width: auto;
}
body #left-panel {
  width: 45%;
  float: left;
}
body #left-panel #json-inputs-tabs {
  width: 100%;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #d2d0d0;
  cursor: pointer;
}
body #left-panel #json-inputs-tabs .selected {
  color: #99cc66;
}
body #left-panel #json-inputs-tabs #json-string-input-tab {
  border-right: 1px solid #d2d0d0;
  padding-left: 28px;
  padding-right: 28px;
}
body #left-panel #json-inputs-tabs #json-string-input-tab:hover {
  color: #99cc66;
}
body #left-panel #json-inputs-tabs #json-url-input-tab {
  padding-left: 28px;
}
body #left-panel #json-inputs-tabs #json-url-input-tab:hover {
  color: #99cc66;
}
body #right-panel {
  margin-left: 20px;
  float: left;
  width: 50%;
}
body #right-panel #warnings,
body #right-panel #formatted-json {
  margin-top: 20px;
}
body #right-panel #formatted-json {
  overflow: scroll;
  height: 450px;
  background-color: #ededed;
}
body #output-json-url {
  background-color: #ededed;
}
body #input-json {
  height: 323px;
  resize: none;
}
body .button {
  margin-top: 15px;
}
