body {
  width: 1300px;
  margin-top: 65px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
body .navbar-header {
  color: #FFFCCC;
  width: inherit;
}
body #left-panel {
  width: 45%;
  float: left;
}
body #right-panel {
  margin-left: 20px;
  float: left;
  width: 50%;
}
body #right-panel #warnings,
body #right-panel #formatted-json {
  margin-top: 20px;
}
body #right-panel #formatted-json {
  overflow: scroll;
  height: 400px;
}
body #input-json {
  width: 500px;
  height: 400px;
  resize: none;
}
body #input-json-url,
body #input-json-headers {
  width: 500px;
}
body .button {
  margin-top: 15px;
}
