<!doctype html>
<html lang="en" ng-app="JsonShare">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Json Share</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css?072e95329879934d">
    <link rel="stylesheet" href="../static/css/compiled/jsonShare.css?b4d04845ff8ee9f8">
    <link rel="shortcut icon" href="../static/images/favicon.ico?291a53e82bc35c86">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <span class="logo">
            <img src="../static/images/JSON_logo.png?1d1e8ac010811923" alt="Validate and Share Json">
          </span>
          <ul class="nav-links pull-right">
          </ul>
        </div>
      </div>
    </div>
    <div class="container content-container">
      <div id="left-panel">
        <h3>
          Input
        </h3>
        <hr />
        <h4>
          JSON
        </h4>
        <label>
          String:
        </label>
        <div>
          <textarea class="form-control" rows="10" id="input-json">{{jsonString}}</textarea>
        </div>
        <div>
          <input class="button btn btn-success" type="button" id="validate-json" value="validate">
          <input class="button btn btn-warning" type="button" id="clear-json" value="clear">
        </div>
        <hr />
        <h4>
          HTTP Response
        </h4>
        <label>
          Type:
        </label>
        <div>
          <div class="radio">
            <label>
              <input type="radio" name="input-json-request-type" id="input-json-get-request-type" value="get" checked>
              Get
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="input-json-request-type" id="input-json-post-request-type" value="post">
              Post
            </label>
          </div>
        </div>
        <label>
          URL:
        </label>
        <div>
          <input class="form-control" type="text" id="input-json-url">
        </div>
        <label>
          Authorization Header Value String:
        </label>
        <div>
          <input class="form-control" type="text" id="input-json-header">
        </div>
        <div>
          <input class="button btn btn-success" type="button" id="validate-json-url" value="validate">
          <input class="button btn btn-warning" type="button" id="clear-json-url" value="clear">
        </div>
      </div>
      <div id="right-panel">
        <h3>
          Output
        </h3>
        <hr />
        <div> 
          <input class="form-control" type="text" id="output-json-url">
        </div>
        <div id="warnings" class="alert alert-danger">
        </div>
        <div>
          <pre id="formatted-json">
          </pre>
        </div>
      </div>
      <div ng-view>
      </div>
    </div>
    <!-- script src="../static/js/minified/main.min.js?4ba97e1ae82b6594"></script -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
      $("#document").ready(function() {
        $("#warnings").hide();
        $("#formatted-json").hide();
        $("#output-json-url").hide();
        if ( $("#input-json").val().length > 0) {
          $("#validate-json").trigger('click');
        }
      });

      $("#clear-json-url").click(function() {
        $("#input-json-url").val('');
        $("#warnings").hide();
        $("#formatted-json").hide();
        $("#output-json-url").hide();
        $("#input-json-header").val('');
        $("#input-json").val('');
      });
      $("#clear-json").click(function() {
        $("#input-json").val('');
        $("#warnings").hide();
        $("#formatted-json").hide();
        $("#output-json-url").hide();
      });

      $('#validate-json').click(function() {
        var value = $('#input-json').val();
        if (value.trim().length > 0) {
          $.post('/validateJson', {
            'jsonString': value 
          }, function(data) {
            $("#output-json-url").val(data.url);
            $("#output-json-url").show();
            if (data.success) {
              $("#warnings").hide();
              $("#formatted-json").html(JSON.stringify(JSON.parse(value), null, 4));
              $("#formatted-json").show();
            } else {
              $("#warnings").html(data.message);
              $("#warnings").show();
              $("#formatted-json").hide();
            }
          }, "json");
        }
      });

      $('#validate-json-url').click(function() {
        var inputType =
          $("input:radio[name=input-json-request-type]").val();
        var inputUrl =
          $("#input-json-url").val();
        var inputHeadersArray = $("#input-json-header").val().split(",");
        var inputHeaders = {};
        for (var i=0; i< inputHeadersArray.length; i++) {
          var tempArray = inputHeadersArray[i];
          tempArray = tempArray.split(":");
          inputHeaders[tempArray[0]] = tempArray[1];
        }

        $.ajax({
          type: inputType,
          url: inputUrl,
          headers: inputHeaders,
          complete:function(data){
            $("#input-json").val(data.responseText);
            if ( $("#input-json").val().length > 0) {
              $("#validate-json").trigger('click');
            }
          }
        }, "json");
      });
    </script>
  </body>
</html>
